<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ascii-Art-Web</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body id="ascii">
    <header class="page">
        <h1>Text to ASCII Art Generator</h1>
    </header>
    <main id="ascii">
        <div id="result">
            <textarea name="Ascii-Art" id="res" cols="90" rows="10" wrap="soft" readonly> {{ . }} </textarea>
        </div>

        <a href="resultat_ascii.txt" download="ascii.txt">
            <button type="button">Télécharger</button>
        </a>

        <div class="retour">
            <a href="/">Retour</a>
        </div>
    </main>
</body>

</html>