<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Error</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body id="method">
        <header class="page">
            <h1>Text to ASCII Art Generator</h1>
        </header>
        <main class="error">
            <h1 class="method">Method not supported</h1>
            <div class="retour">
                <a href="/">Retour</a>
            </div>
        </main>
    </body>
</html>